*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;    
}


body{
    background-color: #f6f8f9;
}

/* header  */
header{
    height: 80px;
    background-color: #fff;
    padding: 15px;
}

header #header__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
}

header #header__logo {
    vertical-align: middle;
}

/* main  */

#container{
    width: 70%;
    height: 100%;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    border-radius: 4px;
}

/* buttons */
#btn__container, .task{
    padding: 10px 40px;
}

.btn{
    font-size: 0.7em;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

.btn.btn__task{
    background-color: #46ACF0;
    color: #fff;
}

.btn.btn__section{
    background-color: #fff;
    color: #ccc;
}

hr{
    border:1px solid #f6f8f9
}

/* task  */
.task__arrow, .task__done, .task__undone{
    margin-right: 10px;
}

.task .task__desc{
    margin-top: 20px;
}

.task .task__done, .task .task__undone{
    
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.task .task__done{
    border: 1px solid green;
    color: green;
}

.task .task__undone{
    border:1px solid red;
    color: red;;
}

.task .task__cathegory {
    display:inline-block;
    border:1px solid #e7e7e7;
    padding: 5px 12px;
    font-size: 0.6em;
    border-radius: 10px;    
}

/* cathegories colors  */
.task .task__cathegory.task__editorial{
    background-color:#46adf1;
}

.task .task__cathegory.task__goals{
    background-color: #9B71E3 ;
}

.task .task__cathegory.task__recruiting{
    background-color: #63BFA8;
}

.task .task__cathegory.task__mobile{
    background-color:#F29F33;
}

.task .task__cathegory.task__website{
    background-color: #D964A2;
}

.task .task__cathegory.task__sales{
    background-color: #B1C926;

}